<template name="Nav">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        View Country Profiles <span class="caret"></span>
      </a>
        <ul class="dropdown-menu">
          {{#each countryList}}
            <li><a href="/country-profile/{{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        View Indicator Comparison <span class="caret"></span>
      </a>
        <ul class="dropdown-menu">
          {{#each indicatorGroups}}
            <li><a href="/indicator-group/{{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </li>
      {{#if currentUser}}
        <button id="edit-mode" type="button" class="btn btn-primary ">
          {{#unless $.Session.get 'edit-mode'}}
            Edit
          {{else}}
            Finish Editing
          {{/unless}}
        </button>
      {{/if}}
    </ul>
  </div>
</template>
